<section class="search-task">

    <!--Search/Add mode-->
    <button id="mode" class="btn btn-outline-secondary" (click)="toggleMode()">
        {{ wannaAdd ? 'Search' : 'Add' }}
    </button>

    <!--Search task-->
    <mat-form-field appearance="fill" id="search-field" [hidden]="wannaAdd" class="w-100">
        <input type="text" matInput [formControl]="searchCtrl" [matAutocomplete]="auto" >
        <button matSuffix class="btn btn-outline-danger ms-2" [hidden]="!searchCtrl.value" aria-label="Clear"
            (click)="searchCtrl.setValue(''); searchTask('')">
            Clear
        </button>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" id="autocomplete-fields" [hidden]="wannaAdd" (optionSelected)="searchTask($event.option.value)">
        @for (task of filteredTasks(); track task) {
            <mat-option [value]="task">
                {{ task }}
            </mat-option>
        }
    </mat-autocomplete>

    <!--Add task-->
    <input type="text" placeholder="Add a task" id="input" [hidden]="!wannaAdd" #input>
    <button id="add" class="btn btn-outline-primary" [hidden]="!wannaAdd" (click)="addTask(input.value); input.value = ''">
        Add
    </button>

</section>